fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
pgvector
pymupdf
paddlepaddle
paddleocr
spacy
rapidfuzz
sentence-transformers
python-multipart
spacy-transformers
matplotlib
pandas
